:root {
    --primary-color: #1e3a8a;
    --secondary-color: #60a5fa;
    --background-color: #f0f9ff;
    --border-color: #93c5fd;
}

body {
    font-family: 'Segoe UI', system-ui, sans-serif;
    background-color: var(--background-color);
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

.container-left {
    width: 50%;
}

.container-right {
    width: 40%;
}

.type_study_a {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    border: 10px solid #7abdff;
    background-color: #7abdff;
    transition: 0.2s;
}

.type_study_a:hover {
    background-color: #d3deed;
}

.type_study_a:hover .type_study_button {
    color: #fff;
}

.type_study_button {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 30px;
    transition: 0.2s;
    text-align: center;
}

.type_study_inner {
    width: 100%;
}

.hh2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back_container {
    position: absolute;
    width: 100%
}

.type_study_back {
    width: 5%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    border: 10px solid #7abdff;
    background-color: #7abdff;
    transition: 0.2s;
}

/* СТИЛИ ДЛЯ ФОРМЫ !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.form-section {
    border: 3px solid #7abdff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    color: var(--primary-color);
}

.form-control {
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
}

.student-form {
    border: 3px solid #7abdff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.add_button_container {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add_button {
    height: 30px;
    width: 50%;
    border: 5px solid #7abdff;
    border-radius: 10px;
    color: #7abdff;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add_button:hover {
    background-color: #7abdff;
    color: #fff;
}

.counter {
    font-size: 40px;
    text-align: right;
}

.destroy_button{
    height: 30px;
    width: 30px;
    border: 5px solid #f04646;
    border-radius: 10px;
    color: #f04646;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destroy_button:hover {
    background-color: #f04646;
    color: #fff;
}

#docx_button{
height: 30px;
    width: 50%;
    border: 5px solid #7abdff;
    border-radius: 10px;
    color: #7abdff;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#docx_button:hover {
    background-color: #7abdff;
    color: #fff;
}